body { font-family: 'Roboto', sans-serif; background-color: #ECEEEF; }

.no-padding { padding-left: 0px; padding-right: 0px; }

div#dp-header {background-color: #1B5E20;background-image: url('../img/dp-fondo-iconos.png');height: 330px;display: flex;flex-direction: column;justify-content: space-between;align-items: center;}

.dp-perfil {height: 140px;}

#dp-papel img {width: 315px;}

div#dp-galeria {display: flex;flex-direction: column;align-items: center;}

.centrar-imagen {margin-top: 10px;-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);}

div#dp-btn-vermas a { text-decoration: none; color: #FFFFFF; font-size: 20px; font-weight: bold;    }

div#dp-btn-vermas {display: flex;justify-content: center;align-items: center;background-color: #1B5E20;height: 38px;margin-top: 10px;}

div#dp-contenedor-contacto {  background-color: #FFFFFF;  height: 298px;  width: 100%;   }

.dp-titulo-contacto { height: 50px; margin-top: 30px; font-size: 30px; color: #4D6F50; font-weight: bold;}

div#dp-contenedor-contacto { display: flex; flex-direction: column; align-items: center; -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);}

.dp-contenido-contacto { margin-top: 45px; color: #707070; font-weight: bold; font-size: 20px;}

.dp-contenido-contacto a { text-decoration: none; color: #707070;}

div#dp-iconos-redes {display: flex;width: 100%;justify-content: space-around;margin-top: 60px;}

.dp-titulo {font-size: 26px;color: #4D6F50;font-weight: bold;margin-top: 10px;display: flex;justify-content: center;}

.dp-contenedor-ppal-sobre-mi { display: flex; flex-direction: column; /* background-color: #FFFFFF; */ justify-content: center; align-items: center; width: 100%;}

.dp-contenido-ppal-sobre-mi { padding-left: 15px; padding-right: 15px; padding-top: 25px; text-align: justify; background-color: #FFFFFF;}

.dp-familia {display: flex;justify-content: center;margin-bottom: 15px;}

.dp-familia img { border-radius: 10%;}

.dp-contenedor-contacto { margin-top: 5px; background-color: #FFFFFF; padding-bottom: 15px;}


/* Position the image container (needed to position the left and right arrows) */
.container { position: relative;}

/* Hide the images by default */
.mySlides { display: none;}

/* Add a pointer when hovering over the thumbnail images */
.cursor { cursor: pointer;}

/* Next & previous buttons */
.prev,
.next { cursor: pointer; position: absolute; top: 40%; width: auto; padding: 16px; margin-top: -50px; color: white; font-weight: bold; font-size: 20px; border-radius: 0 3px 3px 0; user-select: none; -webkit-user-select: none;}

/* Position the "next button" to the right */
.next { right: 0; border-radius: 3px 0 0 3px;}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover { background-color: rgba(0, 0, 0, 0.8);}

/* Number text (1/3 etc) */
.numbertext { color: #f2f2f2; font-size: 12px; padding: 8px 12px; position: absolute; top: 0;}

/* Container for image text */
.caption-container { display: flex; justify-content: center; background-color: #1b5e20; padding: 2px 16px; color: white;}

.row:after { content: ""; display: table; clear: both;}

/* Six columns side by side */
.column { float: left; width: 16.66%;}

/* Add a transparency effect for thumnbail images */
.demo { opacity: 0.6;}

.active,
.demo:hover { opacity: 1;}

.dp-btn-volver { margin-top: 15px;}

p#caption { margin-bottom: 0px; text-align: center;}

.centrar-imagen img { width: 280px; }

/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    div#dp-galeria {display: flex;flex-wrap: wrap;justify-content: space-around;align-items: center;flex-direction: unset;}
    
    div#dp-papel img {width: 412px;}

    .dp-contenedor-contacto {width: 100%;display: flex;justify-content: center;flex-direction: column;align-items: center;}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    div#dp-header {height: 167px;display: flex;flex-direction: row;}
    
    div#dp-papel { align-self: flex-end;    }
    
    div#dp-iconos-verticales { display: flex; flex-direction: column; justify-content: space-around; height: 160px;    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    div#dp-papel img { width: 765px; }

    div#dp-header {height: 330px;}
    
    .centrar-imagen { margin-top: 30px; margin-left: 15px; }
    
    .dp-contenedor-ppal-sobre-mi { align-items: unset; flex-direction: row;    }

    .dp-contenido-ppal-sobre-mi { width: 60%;}

    .dp-contenedor-contacto { display: flex; flex-direction: column; align-self: flex-start; text-align: center; width: 35%; margin-left: 15px; margin-top: 0px; }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    div#dp-perfil img { height: 280px; }

    div#dp-contenedor-ppal {display: flex;justify-content: space-around;margin-top: 20px;}

    div#dp-contenido-ppal {display: flex;flex-direction: column;justify-content: space-between;/* height: 420px; */background-color: #FFFFFF;width: 65%;}

    div#dp-galeria { display: flex; flex-wrap: wrap; justify-content: space-around;    }

    .centrar-imagen {margin-top: 25px;margin-left: 15px;}

    div#dp-contenedor-contacto { background-color: #FFFFFF; height: 420px; width: 30%;    }

    .dp-titulo-contacto { height: 50px; margin-top: 30px; font-size: 30px; color: #4D6F50; font-weight: bold;    }

    .dp-contenido-contacto { margin-top: 45px; color: #707070; font-weight: bold; font-size: 20px;    }

    div#dp-iconos-redes {display: flex;width: 100%;justify-content: space-around;margin-top: 60px;} 
}

